<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">{{ department_item.name }}</h4>	
										
										<div class="widget"></div>
										<ul class="naves">
											<li>
												<i class="ti-bell"></i>
												<a href="/member/departments/{{ department_item._id }}" title="">Notifications</a>
											</li>
											
										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9" style="padding-right: 70px;">
								{{#if errors }}
									{{#each errors }}
										<p class="alert alert-danger">{{ this.msg }}</p>
									{{/each}}
								{{/if}}
								<div class="central-meta">
									<div class="forum-form">
										<h5 class="f-title"><i class="ti-info-alt"></i> Create new notification</h5>
										<form method="post" action="/member/departments/notification/post" id="createNotification">
											<div class="form-group">	
												<input type="text" id="noti_title" name="noti_title" value="{{ noti_item.title }}"/>
												<label class="control-label" for="input">Notification Tittle</label><i class="mtrl-select"></i>
											</div>		

										
											<label class="control-label" for="textarea">Description</label><i class="mtrl-select"></i>
											<textarea id="summernote" name="description">{{{ noti_item.description }}}</textarea>

											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="1" name="important_status" id="flexCheckDefault" {{#if noti_item.status }} checked {{/if}} >
												<label class="form-check-label" for="flexCheckDefault">
													<strong style="color: red;">Important</strong>
												</label>
											</div>

											<div class="submit-btns">
												<input type="hidden" name="notification_id" id="notification_id" value="{{ noti_item._id }}">
												<input type="hidden" name="department_id" value="{{ department_item._id }}">
												{{!-- <button type="button" class="mtr-btn"><span>Cancel</span></button> --}}
												<button type="button" id="save_create_noti" class="mtr-btn"><span>Save</span></button>
											</div>
										</form>
									</div>
								</div>
							</div><!-- centerl meta -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>	
	
	{{!-- <script src="/frontend/js/main.min.js"></script> --}}
	{{!-- <script src="/frontend/js/main.js"></script> --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script>
		$(document).ready(function() {
			$('#summernote').summernote({
				placeholder: 'Fill your description',
				tabsize: 2,
        		height: 200,
				callbacks: {
					onImageUpload: function(image, editor, welEditable) {
						uploadImage(image[0], editor, welEditable);
					},
				}
			});
		});

		function uploadImage(image, editor, welEditable) {
			var data = new FormData();
			data.append("image", image);
			$.ajax({
				url: '/member/departments/ajaxUploadImageContent',
				data: data,
				cache: false,
				contentType: false,
				processData: false,
				type: "post",
				success: function(data) {
					var node = $('<img>').attr('src', data.url);
					$('#summernote').summernote("insertNode", node[0]);
					//$('#contentEditor').summernote("editor.insertImage", data.url);
				},
				error: function(data) {
					console.log(data);
				}
			});
		}
  	</script>
	{{!-- <script src="/frontend/js/main.js"></script>  --}}
	{{!-- <script src="/frontend/js/map-init.js"></script> --}}