
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">{{ department_item.name }}</h4>	
										
										<div class="widget"></div>
										{{!-- <h4 class="widget-title">Shortcuts</h4> --}}
										<ul class="naves">
											{{#each department_item.users}}
											{{#if_eq ../member._id this._id }}
											<li>
												<i class="ti-clipboard"></i>
												<a href="/member/departments/{{ ../../department_item._id }}/notification/create" title="">create notification</a>
											</li>
											{{/if_eq}}
											{{/each}}

											<li>
												<i class="ti-bell"></i>
												<a href="/member/departments/{{ department_item._id }}" title="">Notifications</a>
											</li>

										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9" style="padding-right: 70px;">
                                <div class="central-meta">
									<div class="groups">
										<span><i class="fa fa-users"></i> Notification</span>
									</div>
									
									<ul class="nearby-contct">
										{{#each notifications }}
										<li>
											<p>
												{{#if this.status}}
												
												<strong style="color: red;"><i class="fas fa-exclamation"></i> </strong> 
												{{/if}}
												<span style="font-size: 18px; font-weight:bold">{{ this.title }}</span>
											</p>
											<div class="row">
												<div class="col-lg-10">
													{{#each ../department_item.users}}
														{{#if_eq ../../member._id this._id }}
															<a href="/member/departments/{{ ../../../department_item._id  }}/notification/{{ ../../this._id }}/edit" class="btn btn-success">Edit</a>
															<a href="javascript:void(0)" class="btn btn-danger delete-noti" data-id="{{ ../../this._id }}">Delete</a>
														{{/if_eq}}
													{{/each}}
													
													<a href="/member/departments/{{ ../department_item._id }}/notification/{{ this._id }}/detail" class="btn btn-primary">View detail</a>
												</div>
												<div class="col-lg 2" style="float: right;">
													<span style="color: gray; font-style: italic; font-size: 12px">{{ formatDate this.createdAt}}</span>
												</div>
											</div>
											
										</li>
										{{/each}}
										
									</ul>
									<nav aria-label="Page navigation example " class="mt-3">
										<ul class="pagination justify-content-center mb-0">
											{{{pagination}}}
										</ul>
									</nav>
								
								</div>
							</div><!-- centerl meta -->

								<div class="modal" id="confirmDeleteNotification" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Delete notification</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure to delete this notification.</p>
										</div>
										<form action="/member/departments/notification/delete" method="post">
										<div class="modal-footer">
											<input type="hidden" name="notification_id" id="notification-id">
											<button type="submit" class="btn btn-primary">Delete</button>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
										</form>
										</div>
									</div>
								</div>

						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>	
	
	<script src="/frontend/js/main.min.js"></script>
	<script src="/frontend/js/main.js"></script> 
	<script>
		$(document).ready(function() {
			$(document).on('click','.delete-noti', function() {
				var noti_id = $(this).data('id');

				$('#confirmDeleteNotification').find('#notification-id').val(noti_id);
				$('#confirmDeleteNotification').modal('show');
			})

		})		
	</script>
	<script src="/frontend/js/map-init.js"></script>