<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">{{ department_item.name }}</h4>	
										
										<div class="widget"></div>
										<ul class="naves">
											{{#each department_item.users}}
											{{#if_eq ../member._id this._id }}
											<li>
												<i class="ti-clipboard"></i>
												<a href="/member/departments/{{ ../../department_item._id }}/notification/create" title="">create notification</a>
											</li>
											{{/if_eq}}
											{{/each}}

											<li>
												<i class="fas fa-bell"></i>
												<a href="/member/departments/{{ department_item._id }}" title="">Notifications</a>
											</li>
											
										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9" style="padding-right: 70px;">
								<div class="central-meta">
									<div class="forum-form">
										<h5 class="f-title"><i class="ti-info-alt"></i> Detail Notification</h5>
										<h2>{{#if noti_item.status}}
												<strong  style="color: rgb(255, 29, 29); font-size: 22px;">[IMPORTANT]</strong>
											 {{/if}}
											{{ noti_item.title }}</h2>
										<hr>
										<p>{{{ noti_item.description }}}</p>
									</div>
								</div>
							</div><!-- centerl meta -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>
<script src="/frontend/js/main.min.js"></script> 