<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Profile</h4>	
										
										<div class="your-page">
											{{#if member.avatar }}
											<img src="/uploads/{{ member.avatar }}" alt="" height="150px" width="150px">
											{{else}}
											<img src="/frontend/images/user-avatar.png" alt="" height="150px" width="150px">
											{{/if}}
											<br>
											<div class="page-meta">
												<a href="#" title="" class="underline">
													{{#if member  }}
														{{ member.username }}
													{{/if}}
												</a>
											</div>
											<input type="hidden" id="profile_member_id" value="{{ member._id }}">
										</div>
										<div class="widget"></div>
										<ul class="naves">
											<li>
												<i class="fa fa-home"></i>
												<a href="/member/home" title="">home</a>
											</li>
											<li>
												<i class="fas fa-clipboard"></i>
												<a href="/member/profile/{{ member._id }}">My page</a>
											</li>
											{{#if member.password}}
											<li>
												<i class="fas fa-lock"></i>
												<a href="/member/change-password" >Change password</a>
											</li>
											{{/if}}
											
										</ul>
									</div>
									<!-- Shortcuts -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9" style="padding-right: 60px;">

								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Information</h5>

										<form method="post" action="/member/info-setting/post" enctype="multipart/form-data">
											<div class="form-row">
												<div class="form-group col-md-6">
													<label for="fullname">Full name</label>
													<input type="text" class="form-control" name="username" value="{{ member.username }}">
												</div>
												<div class="form-group col-md-6">
													<label for="email">Email</label>
													<input type="email" class="form-control" name="email" value="{{ member.email }}" readonly>
												</div>
											</div>
											<div class="form-row">
												{{#if_eq member.role 0}}
												<div class="form-group col-md-6">
													<label for="department">Class</label>
													<input type="text" class="form-control" name="class" value="{{ ../member.class }}">
												</div>
												<div class="form-group col-md-6">
													<label for="department">Faculty </label>
													<select class="form-control" name="facility">
														{{#each ../facilites}}
															<option value="{{ this._id }}" {{#if_eq ../../member.facility this._id }} selected {{/if_eq}} >{{ this.name }}</option>
														{{/each}}
													</select>
												</div>
												{{/if_eq }}

											</div>
											
											<div class="form-row">
												
												<div class="form-group col-md-6">
													<span>Avatar</span>
													<div class="custom-file">
														<input type="file" class="custom-file-input" id="image-personal" name="image">
														<label class="custom-file-label"  for="customFile">Choose file</label>
													</div>
												</div>
												<div class="form-group col-md-6 d-flex justify-content-center">
													{{#if member.avatar }}
													<img src="/uploads/{{ member.avatar }}" class="image-person" alt="" style="width: 50%; border-radius: 20px">
													{{else}}
													<img src="/frontend/images/user-avatar.png" class="image-person" alt="" style="width: 50%; border-radius: 20px">
													{{/if}}
												</div>
											</div>

											<div class="submit-btns">
												<button type="submit" class="mtr-btn"><span>Update</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div><!-- centerl meta -->
							
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>	
	
	<script src="/frontend/js/main.min.js"></script>
	<script src="/frontend/js/main.js"></script> 
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		
			$('.js-example-basic-multiple').select2();
			
			function readURLPerson(input, element) {
				if (input.files && input.files[0]) {
					var reader = new FileReader()
					reader.onload = function (e) {
						$('.image-person').attr('src',e.target.result);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}

			$("#image-personal").change(function() {
				console.log(1);
				readURLPerson(this, $(this))

			});
		});
	</script>
	<script src="/frontend/js/map-init.js"></script>