<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Winku Social Network Toolkit</title>
    <link rel="icon" href="/frontend1/images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/frontend1/css/main.min.css">
    <link rel="stylesheet" href="/frontend1/css/style.css">
    <link rel="stylesheet" href="/frontend1/css/color.css">
    <link rel="stylesheet" href="/frontend1/css/responsive.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="newsfeed.html" title="">News feed</a>
											</li>
											<li>
												<i class="ti-mouse-alt"></i>
												<a href="inbox.html" title="">Inbox</a>
											</li>
											<li>
												<i class="ti-files"></i>
												<a href="fav-page.html" title="">My pages</a>
											</li>
											<li>
												<i class="ti-user"></i>
												<a href="timeline-friends.html" title="">friends</a>
											</li>
											<li>
												<i class="ti-image"></i>
												<a href="timeline-photos.html" title="">images</a>
											</li>
											<li>
												<i class="ti-video-camera"></i>
												<a href="timeline-videos.html" title="">videos</a>
											</li>
											<li>
												<i class="ti-comments-smiley"></i>
												<a href="messages.html" title="">Messages</a>
											</li>
											<li>
												<i class="ti-bell"></i>
												<a href="notifications.html" title="">Notifications</a>
											</li>
											<li>
												<i class="ti-share"></i>
												<a href="people-nearby.html" title="">People Nearby</a>
											</li>
											<li>
												<i class="fa fa-bar-chart-o"></i>
												<a href="insights.html" title="">insights</a>
											</li>
											<li>
												<i class="ti-power-off"></i>
												<a href="/member/logout" title="">Logout</a>
											</li>
										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="new-postbox">
										<figure>
											<img src="/frontend1/images/resources/admin2.jpg" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post">
												<textarea rows="2" placeholder="write something"></textarea>
												<div class="attachments">
													<ul>
														<li>
															<i class="fa fa-music"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<i class="fa fa-image"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<i class="fa fa-video-camera"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<i class="fa fa-camera"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<button type="button" class="btn btn-primary"  id="create_post">post</button>
														</li>
													</ul>
												</div>
											</form>
										</div>
									</div>
								</div><!-- add post new box -->

								<!-- start modal post -->
								<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Upload Post</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form id="postForm" enctype="multipart/form-data">
												<div class="modal-body">
													
													<div class="form-group">
														<label for="recipient-name" class="col-form-label">Title:</label>
														<input type="text" id="title_content" class="form-control" name="title">
													</div>
													<div class="form-group">
														<label for="message-text" class="col-form-label">Content:</label>
														<textarea class="form-control" id="post_content" name="content"></textarea>
													</div>
													<div class="form-group">
														<label for="message-text" class="col-form-label">Youtube Video:</label>
														<input class="form-control" id="video" name="video">
													</div>
													<div class="form-group">
														<label for="message-text" class="col-form-label">Department:</label>
														<select class="form-control" name="department_id">
															{{#each departments}}
																<option value="{{ this._id }}">{{ this.name }}</option>
															{{/each}}
														</select>
													</div>
													<label for="upload">
														<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
														<input type="file" id="upload" style="display:none">
													</label>
												</div>
												<div class="modal-footer">
													<input type="hidden" name="post_id" id="post_id" value="">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary" id="bt-post" disabled >Post</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- end modal post -->

								<!-- start modal delete-->
								<div class="modal" id="confirmDeletePost" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Delete Post</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure to delete this post.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary btn_delete_post">Delete</button>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
										</div>
									</div>
								</div>
								<!-- end modal delete-->


								<div class="loadMore">
									
									{{#each posts}}
									
									<div class="central-meta item" id="post-item{{ this._id }}">
										<div class="user-post">
											<div class="friend-info">
												<figure><img src="/frontend1/images/resources/friend-avatar10.jpg" alt=""></figure>
												<div class="friend-name">
													<ins><a href="time-line.html" title="">{{ this.user.username }}</a></ins>
													<span>published: {{ formatDate this.updatedAt }}</span>
												</div>
												<div class="description">
													<p>{{ this.content }}</p>
												</div>
												<div class="post-meta">
													{{#if this.image}}
														<img src="/uploads/{{ this.image }}" height="315" alt="">
													{{/if}}
													{{#if this.video}}
														<iframe src="https://www.youtube.com/embed/{{ getYoutubeId this.video }}" height="315" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
													{{/if}}
													<div class="we-video-info">
														<ul>
															<li>
																<span class="comment" data-toggle="tooltip" title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>52</ins>
																</span>
															</li>
															<li>
																<span class="like" data-toggle="tooltip" title="like">
																	<i class="ti-heart"></i>
																	<ins>2.2k</ins>
																</span>
															</li>
															<li>
																	<a href="javascript:void(0);" title="" class="edit_post" data-id="{{ this._id }}">edit</a>
															</li>
															<li>
																	<a href="javascript:void(0);" title="" class="delete_post" data-id="{{ this._id }}">delete</a>
															</li>
														</ul>
													</div>
													
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													<li>
														<div class="comet-avatar">
															<img src="/frontend1/images/resources/comet-1.jpg" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="time-line.html" title="">Jason borne</a></h5>
																<span>1 year ago</span>
																<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
															</div>
															<p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
														</div>
														<ul>
															<li>
																<div class="comet-avatar">
																	<img src="/frontend1/images/resources/comet-2.jpg" alt="">
																</div>
																<div class="we-comment">
																	<div class="coment-head">
																		<h5><a href="time-line.html" title="">alexendra dadrio</a></h5>
																		<span>1 month ago</span>
																		<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
																	</div>
																	<p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>
																</div>
															</li>
															<li>
																<div class="comet-avatar">
																	<img src="/frontend1/images/resources/comet-3.jpg" alt="">
																</div>
																<div class="we-comment">
																	<div class="coment-head">
																		<h5><a href="time-line.html" title="">Olivia</a></h5>
																		<span>16 days ago</span>
																		<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
																	</div>
																	<p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
																</div>
															</li>
														</ul>
													</li>
													<li>
														<div class="comet-avatar">
															<img src="/frontend1/images/resources/comet-1.jpg" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="time-line.html" title="">Donald Trump</a></h5>
																<span>1 week ago</span>
																<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
															</div>
															<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel
																<i class="em em-smiley"></i>
															</p>
														</div>
													</li>
													<li>
														<a href="#" title="" class="showmore underline">more comments</a>
													</li>
													<li class="post-comment">
														<div class="comet-avatar">
															<img src="/frontend1/images/resources/comet-1.jpg" alt="">
														</div>
														<div class="post-comt-box">
															<form method="post">
																<textarea placeholder="Post your comment"></textarea>
																<div class="add-smiles">
																	<span class="em em-expressionless" title="add icon"></span>
																</div>
																<div class="smiles-bunch">
																	<i class="em em---1"></i>
																	<i class="em em-smiley"></i>
																	<i class="em em-anguished"></i>
																	<i class="em em-laughing"></i>
																	<i class="em em-angry"></i>
																	<i class="em em-astonished"></i>
																	<i class="em em-blush"></i>
																	<i class="em em-disappointed"></i>
																	<i class="em em-worried"></i>
																	<i class="em em-kissing_heart"></i>
																	<i class="em em-rage"></i>
																	<i class="em em-stuck_out_tongue"></i>
																</div>
																<button type="submit"></button>
															</form>	
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
								<div>
									<button type="button" class="btn btn-primary" id="btn-loadMore">Load More</button>
								</div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									{{!-- <div class="widget">
										<h4 class="widget-title">Your page</h4>	
										<div class="your-page">
											<figure>
												<a href="#" title=""><img src="/frontend1/images/resources/friend-avatar9.jpg" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="#" title="" class="underline">My page</a>
												<span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
												<span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
											</div>
											<div class="page-likes">
												<ul class="nav nav-tabs likes-btn">
													<li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
													 <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
												</ul>
												<!-- Tab panes -->
												<div class="tab-content">
												  <div class="tab-pane active fade show " id="link1" >
													<span><i class="ti-heart"></i>884</span>
													  <a href="#" title="weekly-likes">35 new likes this week</a>
													  <div class="users-thumb-list">
														<a href="#" title="Anderw" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-1.jpg" alt="">  
														</a>
														<a href="#" title="frank" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-2.jpg" alt="">  
														</a>
														<a href="#" title="Sara" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-3.jpg" alt="">  
														</a>
														<a href="#" title="Amy" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-4.jpg" alt="">  
														</a>
														<a href="#" title="Ema" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-5.jpg" alt="">  
														</a>
														<a href="#" title="Sophie" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-6.jpg" alt="">  
														</a>
														<a href="#" title="Maria" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-7.jpg" alt="">  
														</a>  
													  </div>
												  </div>
												  <div class="tab-pane fade" id="link2" >
													  <span><i class="ti-eye"></i>440</span>
													  <a href="#" title="weekly-likes">440 new views this week</a>
													  <div class="users-thumb-list">
														<a href="#" title="Anderw" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-1.jpg" alt="">  
														</a>
														<a href="#" title="frank" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-2.jpg" alt="">  
														</a>
														<a href="#" title="Sara" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-3.jpg" alt="">  
														</a>
														<a href="#" title="Amy" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-4.jpg" alt="">  
														</a>
														<a href="#" title="Ema" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-5.jpg" alt="">  
														</a>
														<a href="#" title="Sophie" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-6.jpg" alt="">  
														</a>
														<a href="#" title="Maria" data-toggle="tooltip">
															<img src="/frontend1/images/resources/userlist-7.jpg" alt="">  
														</a>  
													  </div>
												  </div>
												</div>
											</div>
										</div>
									</div><!-- page like widget --> --}}
									<!--
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div class="bg-image" style="background-image: url(images/resources/baner-widgetbg.jpg)"></div>
											<div class="baner-top">
												<span><img alt="" src="/frontend1/images/book-icon.png"></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a data-ripple="" title="" href="#">start now!</a>
											</div>
										</div>											
									</div>
									-->
									{{!-- <div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											<li>
												<figure>
													<img src="images/resources/friend-avatar.jpg" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">bucky barnes</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f2859b9c869780819d9e969780b2959f939b9edc919d9f">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												<figure>
													<img src="images/resources/friend-avatar2.jpg" alt="">
													<span class="status f-away"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">Sarah Loren</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ea888b98848f99aa8d878b8386c4898587">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												<figure>
													<img src="images/resources/friend-avatar3.jpg" alt="">
													<span class="status f-off"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">jason borne</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2d474c5e42434f6d4a404c4441034e4240">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												<figure>
													<img src="images/resources/friend-avatar4.jpg" alt="">
													<span class="status f-off"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">Cameron diaz</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6802091b07060a280f05090104460b0705">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												
												<figure>
													<img src="images/resources/friend-avatar5.jpg" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">daniel warber</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4e242f3d21202c0e29232f2722602d2123">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												
												<figure>
													<img src="images/resources/friend-avatar6.jpg" alt="">
													<span class="status f-away"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">andrew</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1872796b77767a587f75797174367b7775">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												
												<figure>
													<img src="images/resources/friend-avatar7.jpg" alt="">
													<span class="status f-off"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">amy watson</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="711b10021e1f1331161c10181d5f121e1c">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												
												<figure>
													<img src="images/resources/friend-avatar5.jpg" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">daniel warber</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="234942504c4d4163444e424a4f0d404c4e">[email&#160;protected]</a></i>
												</div>
											</li>
											<li>
												
												<figure>
													<img src="images/resources/friend-avatar2.jpg" alt="">
													<span class="status f-away"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">Sarah Loren</a>
													<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d5b7b4a7bbb0a695b2b8b4bcb9fbb6bab8">[email&#160;protected]</a></i>
												</div>
											</li>
										</ul>
										<div class="chat-box">
											<div class="chat-head">
												<span class="status f-online"></span>
												<h6>Bucky Barnes</h6>
												<div class="more">
													<span><i class="ti-more-alt"></i></span>
													<span class="close-mesage"><i class="ti-close"></i></span>
												</div>
											</div>
											<div class="chat-list">
												<ul>
													<li class="me">
														<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="you">
														<div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="me">
														<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
												</ul>
												<form class="text-box">
													<textarea placeholder="Post enter to post..."></textarea>
													<div class="add-smiles">
														<span title="add icon" class="em em-expressionless"></span>
													</div>
													<div class="smiles-bunch">
														<i class="em em---1"></i>
														<i class="em em-smiley"></i>
														<i class="em em-anguished"></i>
														<i class="em em-laughing"></i>
														<i class="em em-angry"></i>
														<i class="em em-astonished"></i>
														<i class="em em-blush"></i>
														<i class="em em-disappointed"></i>
														<i class="em em-worried"></i>
														<i class="em em-kissing_heart"></i>
														<i class="em em-rage"></i>
														<i class="em em-stuck_out_tongue"></i>
													</div>
													<button type="submit"></button>
												</form>
											</div>
										</div>
									</div><!-- friends list sidebar --> --}}
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/frontend1/js/main.min.js"></script>
	{{!-- <script src="/frontend1/js/script.js"></script> --}}
	<script src="/frontend1/js/map-init.js"></script>
	{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script> --}}

	{{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#post_content').on('keyup input', function(){
				var content = $(this).val();
				// console.log(content);
				var title = $('#title_content').val();
				if(title.trim() == '' && content.trim() == '') {
					$('#bt-post').attr('disabled', 'disabled');     
					return;
				}
				if(title.trim() != '') {
					$('#bt-post').removeAttr('disabled'); 
					return; 
				}
			});

			function getYoutubeId(youtube)  {
				var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
				return (youtube.match(p)) ? RegExp.$1 : false;
			}

			function formatDate(dates) {
				var date = new Date(dates);
				var dateStr =
				("00" + (date.getMonth() + 1)).slice(-2) + "/" +
				("00" + date.getDate()).slice(-2) + "/" +
				date.getFullYear() + " " +
				("00" + date.getHours()).slice(-2) + ":" +
				("00" + date.getMinutes()).slice(-2) + ":" +
				("00" + date.getSeconds()).slice(-2);
				return dateStr
			}

			$(document).on('click', '#create_post', function() {
				console.log(1)
				$('#postModal').find('#title_content').val('');
				$('#postModal').find('#post_content').val('');
				$('#postModal').find('#post_id').val('');
				$('#postModal').find('#video').val('');
				
				$('#postModal').modal('show');

			});

			$(document).on('click', '.edit_post', function() {
				var id = $(this).data('id');
				$('#postModal').modal('show');
				console.log(id);
				$.ajax({
					url: '/post/edit',
					data: {
						id: id,
					},
					type: 'post',
					success: function(data) {
						console.log(data);
						if(data._id) {
							console.log(data.content);
							$('#postModal').find('#title_content').val(data.title);
							$('#postModal').find('#post_content').val(data.content);
							
							$('#postModal').find('#post_id').val(data._id);
							$('#postModal').find('#department_id').val(data.department._id);
							if(data.video){
								$('#postModal').find('#video').val(data.video);
							}
							
							$('#postModal').modal('show');
							
						}
					}
				}); 
			});

			$("#postForm").submit(function (e) {
				e.preventDefault();
				var formData = new FormData(this);
				$.ajax({
					type: "POST",
					url: "/post/new",
					data: formData,
					processData: false,
					contentType: false,
					success: function(data){
						if(data.success == true) {
							if(data.type == 'update') {
								console.log(data.post);
								var post = postForm(data.post);

								$('#postModal').modal('hide');

								$( '#post-item' + data.post._id + '' ).html(post);

							} else {
								console.log(data.post);
									var post = '<div class="central-meta item" id="post-item' + data.post._id + '">'
									 post += postForm(data.post);
									post += '</div>'
									$('#postModal').modal('hide');
									$( ".loadMore" ).prepend( post );
								
							}
						}
					},
				});
			});

			var startFrom = 5;

			$(document).on('click', '#btn-loadMore', function() {
					console.log(startFrom);
					
					$.ajax({
						type: "post",
						url: "/post/loadmore",
						data: {
							start: startFrom,
						},
						
						success: function(data) {
							console.log(data);
							
							
							var post ='';
							data.forEach(function(element) {  
								post += '<div class="central-meta item" id="post-item' + element._id + '">'
								post += postForm(element);
								post += '</div>'
								
							}); 
							$( ".loadMore" ).append( post );
							startFrom = startFrom+2;
						}
					});
			});

			console.log(startFrom);


			function postForm(data) {
				
				var post = '<div class="user-post">'
				post += '<div class="friend-info">'
				post += '<figure><img src="/frontend1/images/resources/friend-avatar10.jpg" alt=""></figure>'
				post += '<div class="friend-name">'
				post += '<ins><a href="time-line.html" title="">' + data.user.username + '</a></ins>'
				post += '<span>published: ' +  formatDate(data.updatedAt) + '</span>'
				post += '</div>'
				post += '<div class="description">'
				post += '<p>' + data.content + '</p>'
				post += '</div>'
				post += '<div class="post-meta">'
				if(data.image) {
				post += '<img src="/uploads/' + data.image + '" height="315" alt="">'
				}
				
				if(data.video) {
				post += '<iframe src="https://www.youtube.com/embed/' + getYoutubeId(data.video) + '" height="315" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
				}

				post += '<div class="we-video-info">'
				post += '<ul>'
				post += '<li>'
				post += '<span class="comment" data-toggle="tooltip" title="Comments">'
				post += '<i class="fa fa-comments-o"></i>'
				post += '<ins>52</ins>'
				post += '</span>'
				post += '</li>'
				post += '<li>'
				post += '<span class="like" data-toggle="tooltip" title="like">'
				post += '<i class="ti-heart"></i>'
				post += '<ins>2.2k</ins>'
				post += '</span>'
				post += '</li>'
				post += '<li>'
				post += '<a href="javascript:void(0);" title="" class="edit_post" data-id="' + data._id + '">edit</a>'
				post += '</li>'
				post += '<li>'
				post += '<a href="javascript:void(0);" title="" class="delete_post" data-id="' + data._id + '">delete</a>'
				post += '</li>'
				post += '</ul>'
				post += '</div>'
				post += '</div>'
				post += '</div>'
				post += '<div class="coment-area">'
				post +=	'<ul class="we-comet">'
				post +=	'<li>'
				post += '<div class="comet-avatar">'				
				post += '<img src="/frontend1/images/resources/comet-1.jpg" alt="">'					
				post += '</div>'				
				post += '<div class="we-comment">'				
				post += '<div class="coment-head">'					
				post += '<h5><a href="time-line.html" title="">Jason borne</a></h5>'						
				post += '<span>1 year ago</span>'						
				post += '<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>'						
				post += '</div>'					
				post += '<p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>'				
				post += '</div>'				
				post += '<ul>'				
				post += '<li>'					
				post += '<div class="comet-avatar">'						
				post += '<img src="/frontend1/images/resources/comet-2.jpg" alt="">'							
				post += '</div>'						
				post += '<div class="we-comment">'						
				post += '<div class="coment-head">'							
				post += '<h5><a href="time-line.html" title="">alexendra dadrio</a></h5>'								
				post += '<span>1 month ago</span>'								
				post += '<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>'							
				post += '</div>'							
				post += '<p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>'							
				post += '</div>'						
				post += '</li>'					
				post += '<li>'					
				post += '<div class="comet-avatar">'						
				post += '<img src="/frontend1/images/resources/comet-3.jpg" alt="">'							
				post += '</div>'						
				post += '<div class="we-comment">'						
				post += '<div class="coment-head">'						
				post += '<h5><a href="time-line.html" title="">Olivia</a></h5>'								
				post += '<span>16 days ago</span>'								
				post += '<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>'								
				post += '</div>'							
				post += '<p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>'							
				post += '</div>'						
				post += '</li>'					
				post += '</ul>'				
				post += '</li>'			
				post += '<li>'			
				post += '<div class="comet-avatar">'				
				post += '<img src="/frontend1/images/resources/comet-1.jpg" alt="">'					
				post += '</div>'				
				post += '<div class="we-comment">'				
				post += '<div class="coment-head">'					
				post += '<h5><a href="time-line.html" title="">Donald Trump</a></h5>'						
				post += '<span>1 week ago</span>'						
				post += '<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>'						
				post += '</div>'					
				post += '<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel<i class="em em-smiley"></i></p>'					
				post += '</div>'				
				post += '</li>'			
				post += '<li>'			
				post += '<a href="#" title="" class="showmore underline">more comments</a>'				
				post += '</li>'			
				post += '<li class="post-comment">'			
				post += '<div class="comet-avatar">'				
				post += '<img src="/frontend1/images/resources/comet-1.jpg" alt="">'					
				post += '</div>'				
				post += '<div class="post-comt-box">'				
				post += '<form method="post">'					
				post += '<textarea placeholder="Post your comment"></textarea>'						
				post += '<div class="add-smiles">'						
				post += '<span class="em em-expressionless" title="add icon"></span>'							
				post += '</div>'						
				post += '<div class="smiles-bunch">'						
				post += '<i class="em em---1"></i>'							
				post += '<i class="em em-smiley"></i>'							
				post += '<i class="em em-anguished"></i>'							
				post += '<i class="em em-laughing"></i>'							
				post += '<i class="em em-angry"></i>'							
				post += '<i class="em em-astonished"></i>'							
				post += '<i class="em em-blush"></i>'							
				post += '<i class="em em-disappointed"></i>'							
				post += '<i class="em em-worried"></i>'							
				post += '<i class="em em-kissing_heart"></i>'							
				post += '<i class="em em-rage"></i>'							
				post += '<i class="em em-stuck_out_tongue"></i>'							
				post += '</div>'						
				post += '<button type="submit"></button>'						
				post += '</form>'					
				post += '</div>'				
				post += '</li>'			
				post += '</ul>'		
				post +=	'</div>'
				post += '</div>'
				

				return post
			}
			
			$(document).on('click', '.delete_post', function() {
				var id = $(this).data('id');
				$('#confirmDeletePost').find('.btn_delete_post').attr('data-id', id);
				$('#confirmDeletePost').modal('show');
			});

			$(document).on('click', '.btn_delete_post', function() {
				var id = $(this).attr('data-id');
				$.ajax({
					url: '/post/delete',
					data: {
						id: id,
					},
					type: 'post',
					success: function(data) {
						if(data._id) {
							$('#post-item' + data._id).remove();
							$('#confirmDeletePost').modal('hide');
						}
						
					}
				});
			});


		});

	</script>

</body>	

</html>