<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="/member/home"><img src="/frontend/images/tdt_logo.png" alt="" height="50px" width="auto"></a>
		</div>
		
		<div class="top-area">
			<div class="user-img">
				{{!-- <img class="dropdown-toggle" data-toggle="dropdown" src="/frontend/images/resources/admin.jpg" alt=""> --}}
				{{#if member.avatar }}
				<img src="/uploads/{{ member.avatar }}" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{else}}
				<img src="/frontend/images/user-avatar.png" class="dropdown-toggle" data-toggle="dropdown" alt="" height="60px" width="60px">
				{{/if}}
				<div class="dropdown-menu">  
					<a class="dropdown-item" href="/member/profile/{{ member._id }}"> <i class="fa fa-home"></i> My page</a>
					<a class="dropdown-item" href="/member/logout"> <i class="ti-power-off"></i> Logout</a>
				</div>  
			</div>
		</div>
	</div><!-- topbar -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Notification</h4>	
										
										
										<div class="widget"></div>
										<ul class="naves">
											
											<li>
												<i class="fas fa-home" ></i>
												<a href="/member/home" title="">home</a>
											</li>
											
										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9" style="padding-right: 70px;">
                                <div class="central-meta">
									<div class="groups">
										<span><i class="fa fa-users"></i>Recent Notification</span>
									</div>
									
									<ul class="nearby-contct">
										{{#each notifications }}
										<li>
											<p>
												{{#if this.status}}
												<strong style="color: rgb(255, 29, 29);">[IMPORTANT] </strong> 
												{{/if}}
												<span style="font-size: 18px; font-weight:bold">
                                                    {{ this.title }}
                                                    
                                                </span>
											</p>
											<div class="row">
												<div class="col-lg-8">
													
													<a href="/member/departments/{{ this.department._id }}/notification/{{ this._id }}/detail" class="btn btn-primary">View detail</a>
												</div>
												<div class="col-lg-4" id="dept_name">
													<p>
                                                        <a  href="/member/departments/{{ this.department._id }}">{{ this.department.name }}</a>
                                                        
                                                    </p>
													<span>{{ formatDate this.createdAt}}</span>
												</div>
											</div>
											
										</li>
										{{/each}}
										
									</ul>
									<nav aria-label="Page navigation example " class="mt-3">
										<ul class="pagination justify-content-center mb-0">
											{{{pagination}}}
										</ul>
									</nav>
								
								</div>
							</div><!-- centerl meta -->
						</div>	
					</div>
				</div>
			</div>
		</div>

	</section>


</div>
	<script src="/frontend/js/main.min.js"></script> 