<h2> Studdent List </h2>
<a href="/student/add">new student</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Student Name</th>
            <th>Student Card</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{ sum @index 1 }}</td>
            <td>{{this.name}}</td>
            <td>{{this.mssv}}</td>
            <td><a href="/student/edit/{{this._id}}">Edit</a> | <a href="/student/delete/{{this._id}}" class="linkdel">Delete</a>|</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    $('.linkdel').click(function(event){
        if(!confirm("Are you sure to delete")) {
            event.preventDefault();
            return false;
        }
        return true;
    });
</script>